<%= form_for @course do |u|%>
<p>
<%= u.label :course_name %>
<%= u.text_field :course_name %>
</p>
<p>
<%= u.label :class_name %>
<%= u.text_area :class_name %>
</p>
<%= u.submit %>
<% end %>


<% @courses.each do |course|%>
<ul>
<li><%= link_to course.course_name, course%></li>
</ul>
<% end %>
