<%= form_for @cheese do |c|%>
<p>
<%= c.label :name %>
<%= c.text_field :name %>
</p>
<p>
<%= c.label :description %>
<%= c.text_area :description %>
</p>
<p>
<%= c.label :milk_type %>
<%= c.text_field :milk_type %>
</p>
<p>
<%= c.label :image_url %>
<%= c.text_field :image_url%>
</p>
<%= c.submit %>
<% end %>
