<%= render 'home' %>
<%= render 'single' %>

<%= form_for @rock do |r|%>
<p>
<%= r.label :name %>
<%= r.text_field :name %>
</p>
<p>
<%= r.label :description %>
<%= r.text_area :description %>
</p>
<%= r.submit %>
<% end %>
