<%= render 'header' %>

<% @rocks.each do |rock|%>
<ul>
<li><%= link_to rock.name, rock%></li>
<p><%= link_to "Remove Rock", rock, method: :delete%></p>

</ul>
<% end %>
<p><%= link_to "Create Rock", new_rock_path%></p><br>



<%= render 'footer' %>
