<%= form_for @user do |u|%>
<p>
<%= u.label :name %>
<%= u.text_field :name %>
</p>
<p>
<%= u.label :email %>
<%= u.text_area :email %>
</p>
<p>
<%= u.label :course_id %>
<%= u.text_area :course_id %>
</p>
<p>
<%= u.label :created_at %>
<%= u.text_area :created_at %>
</p>
<p>
<%= u.label :updated_at %>
<%= u.text_area :updated_at %>
</p>
<%= u.submit %>
<% end %>

<% @users.each do |user|%>
<ul>
<li><%= link_to user.name, user%></li>
</ul>
<% end %>
