<h1>Topics</h1>
<%= form_for @topic do |t|%>
<p>
<%= t.label :title %>
<%= t.text_field :title %>
</p>
<p>
<%= t.label :content %>
<%= t.text_area :content %>
</p>
<p>
<%= t.label :user_id %>
<%= t.text_area :user_id %>
</p>
<p>
<%= t.label :created_at %>
<%= t.text_area :created_at %>
</p>
<p>
<%= t.label :updated_at %>
<%= t.text_area :updated_at %>
</p>
<%= t.submit %>
<% end %>

<% @topics.each do |topic|%>
<ul>
<li><%= link_to topic.title, topic%></li>
</ul>
<% end %>
